<section class="slider-section">
	<div class="tp-banner-container">
		<div class="tp-banner">
			<ul>
				<li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-thumb="/assets/slider_01.jpg"  data-saveperformance="off"  data-title="Slide">
					<img src="/assets/slider_01.jpg"  alt="fullslide1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            <div class="tp-caption slider_layer_01 text-center lft tp-resizeme"
                data-x="center"
                data-y="380" 
                data-speed="1000"
                data-start="600"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">HONG TONG OFFERS YOU
            </div>
            <div class="tp-caption slider_layer_01 text-center lft tp-resizeme"
                data-x="center"
                data-y="380" 
                data-speed="1000"
                data-start="800"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">ALL YOUR ENGINEERING PLASTIC SOLUTIONS
            </div>
        </li>
			</ul>
		</div>
	</div>
</section>

<section class="section white">
	<div class="container">
		<div class="section-title text-center">
			<h4>公司特色</h4>
			<hr>
			<!-- <p>Awesome & Great Services Done With Love</p> -->
		</div><!-- end title -->
		<div class="row text-center">
			<% @srvs.each do |service| %>
				<div class="col-md-3 col-sm-6">
					<div class="service-style-1 nobg wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<div class="icon-container border-radius">
							<% if service.id = 1 || service.id = 5 %>
								<i class="fa fa-cogs"></i>
							<% end %>
							<% if service.id = 2 || service.id = 6 %>
								<i class="fa fa-wrench"></i>
							<% end %>
							<% if service.id = 3 || service.id = 7 %>
								<i class="fa fa-sun-o"></i>
							<% end %>
							<% if service.id = 4 || service.id = 8 %>
								<i class="fa fa-industry"></i>
							<% end %>
						</div>
						<p><strong><%= service.title.slice(0,10) %></strong></p>
						<p><%= service.desc.slice(0,80) %></p>
					</div><!-- end service -->
				</div><!-- end col -->
			<% end %>
		</div><!-- end row -->
</section><!-- end section -->
<script>
	jQuery(document).ready(function() {
		jQuery('.tp-banner').show().revolution(
			); 
		});
</script>