<%= render 'admin/common/header' %>
<section>
  <%= render 'admin/common/leftpanel' %>

  <div class="mainpanel">
    <div class="contentpanel">
      <div class="panel">
        <div class="panel-body">
          <%= render 'form' %>
        </div>
      </div>
        <!-- content goes here... -->
    </div><!-- contentpanel -->
  </div>
    
  </div><!-- mainpanel -->
</section>