<div class="contact-info">
	<h4>聯絡資訊</h4>

		<div class="service-style-2 icon-left row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
			<div class="col-md-2">
				<i class="fa fa-envelope"></i>
			</div>
			<div class="col-md-10 nopadding">
				<p>地址-<%= @site.address %></p>
				<span>信箱- <%= @site.mail %></span>
				<span>電話- <%= @site.tel%> / 傳真- <%= @site.fax%></span>
			</div>
		</div><!-- end service -->

	<div class="clearfix"></div>

	<h4>營業時間</h4>

		<div class="service-style-2 icon-left row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
			<div class="col-md-2 ">
				<i class="fa fa-clock-o"></i>
			</div>
			<div class="col-md-10 nopadding">
			<p>營業時間 : 08:00 ~ 17:00<br>
			服務時間：24HR<br>
			</p>
			</div>
		</div><!-- end service -->

</div><!-- end contact info -->