<div class="contact-info">
	<h4>Contact Us</h4>

		<div class="service-style-2 icon-left row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
			<div class="col-md-2">
				<i class="fa fa-envelope"></i>
			</div>
			<div class="col-md-10 nopadding">
				<p>address-<%= @site.address %></p>
				<span>mail- <%= @site.mail %></span>
				<span>tel- <%= @site.tel%> / fax- <%= @site.fax%></span>
			</div>
		</div><!-- end service -->

	<div class="clearfix"></div>

	<h4>Hours</h4>

		<div class="service-style-2 icon-left row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
			<div class="col-md-2 ">
				<i class="fa fa-clock-o"></i>
			</div>
			<div class="col-md-10 nopadding">
			<p>Office Hours : 08:00 ~ 17:00<br>
			Service Hours：24HR<br>
			</p>
			</div>
		</div><!-- end service -->

</div><!-- end contact info -->