<div class="panel-body col-md-6">
	<%= f.text_field :title, label: '產品名稱' %>
	<%= f.file_field :img, label: '最終完成品' %>
	<%= f.text_area :desc, label: '其他用途' %>
	<%= f.text_area :detail, label: '泛用於:' %>
</div>
